<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Perfil - InfoTrips</title>
            <meta name="description" content="Site informativo para viagens internacionais">
            <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
            <meta name="robots" content="perfil, follow">
            <meta name="author" content="Eduardo Gimenes">
            <link rel="stylesheet" href="css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
            <link rel="icon" href="img/roxo/logo_roxa.png">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        </head>

        <body>
            <header class="cabecalho">
                <a href="javascript:window.history.go(-1)"><img src="img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
                <a href="/" class="titulo_cabecalho"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>    
                <a href="/favoritos"><img src="img/branco/icone_lista_favoritos_branco.svg" alt="Botão favoritos" class="botao_cabecalho"></a>        
            </header>
          
            <div class="campo_foto_formulario">
                <img src="img/roxo/icone_perfil_grande_roxo.svg" alt="Botão inserir foto de perfil" id="foto_usuario_cadastro" class="foto_perfil foto_perfil_preview">
            </div>

            <div class="dados_usuario">
                <p><%= usuario[0].foto_usuario %></p>
                <h1 class="titulo_principal"><%= usuario[0].nome_usuario %></h1>
                <h2 class="titulo_secundario"><%= usuario[0].email_usuario %></h2>
            </div>
            
            <input type="button" value="Editar perfil" class="botao">
            <form action="/usuario/sair" method="POST">
                <input type="submit" value="Sair" class="botao">
            </form>
        </body>

    <script type="text/javascript" src="js/main.js"></script>

</html>