<!DOCTYPE html>
    <html lang="pt-br">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InfoTrips</title>
        <meta name="description" content="Site informativo para viagens internacionais">
        <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
        <meta name="robots" content="cadastro, follow">
        <meta name="author" content="Eduardo Gimenes">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>

    <body>
        <header class="cabecalho">
            <a href="/login" class="botao_lateral_esquerda"><img src="img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
            <a href="/"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
        </header>

        <form method="POST">
            <div class="campo_foto_formulario">
                <input type="file" name="foto_usuario" accept="image/*">
                <img src="img/roxo/icone_inserir_foto_perfil_roxo.svg" alt="Botão inserir foto de perfil" class="foto_formulario">
            </div>
            <input type="text" name="nome_usuario" class="campo_formulario" placeholder="Nome" required>
            <input type="email" name="email_usuario" class="campo_formulario" placeholder="E-mail" required>
            <input type="password" name="senha_usuario" class="campo_formulario" placeholder="Senha" required>
            <div class="campo_checkbox_formulario">
                <input type="checkbox" class="checkbox_atualizacoes">
                <label class="texto texto_checkbox_atualizacoes">receba atualizações sobre países favoritos</label>
            </div>
            <input type="submit" value="Cadastrar" class="botao">
        </form>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>