<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Editar Perfil - InfoTrips</title>
            <meta name="description" content="Site informativo para viagens internacionais">
            <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
            <meta name="robots" content="cadastro, follow">
            <meta name="author" content="Eduardo Gimenes">
            <link rel="stylesheet" href="/css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
            <link rel="icon" href="/img/roxo/logo_roxa.png">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        </head>

        <body>
            <header class="cabecalho">
                <a href="javascript:window.history.go(-1)"><img src="/img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
                <a href="/" class="titulo_cabecalho titulo_cadastro"><img src="/img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
            </header>

            <form method="POST" action="/editar/usuario" encType="multipart/form-data">
                <div class="campo_foto_formulario">
                    <input type="file" name="foto_usuario" class="campo_invisivel_formulario campo_foto_perfil" accept="image/*" onchange="previewFotoPerfil('foto_usuario_editar_cadastro')">
                    <% if (foto_usuario.length > 0) { %>
                        <img src="/uploads/<%= foto_usuario[0].nome_foto %>" alt="Foto de perfil" id="foto_usuario_editar_cadastro" class="foto_perfil foto_perfil_preview">
                    <% } else { %>
                        <img src="/img/roxo/icone_inserir_foto_perfil_roxo.svg" alt="Foto de perfil" id="foto_usuario_editar_cadastro" class="foto_perfil">
                    <% } %>
                </div>
                <input type="text" name="nome_usuario" class="campo_formulario" value="<%= usuario[0].nome_usuario %>" placeholder="Nome" minlength="10" maxlength="70" required>
                <input type="email" name="email_usuario" class="campo_formulario campo_formulario_invisivel" value="<%= usuario[0].email_usuario %>" placeholder="E-mail" maxlength="70" readonly required>
                <input type="password" name="senha_usuario" class="campo_formulario" value="<%= usuario[0].senha_usuario %>"  placeholder="Senha" minlength="5" maxlength="20" required>
                <div class="campo_checkbox_atualizacoes">
                    <label class="checkbox checkbox_atualizacoes texto">receber atualizações sobre países favoritos
                        <% if (usuario[0].updatesareactive_usuario == 1) { %>
                            <input type="checkbox" name="updatesareactive_usuario" value="1" checked="checked">
                        <% } else { %>
                            <input type="checkbox" name="updatesareactive_usuario" value="">
                        <% } %>
                        <span class="campo_checkbox checkmark checkmark_atualizacoes"></span>
                    </label>
                </div>
                <input type="submit" value="Salvar" class="botao">
            </form>
        </body>
    <script type="text/javascript" src="/js/main.js"></script>
</html>