/* Configurações iniciais */

*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/* Criação das variáveis */

:root{
    --cor-primary: #7B1FA2;
    --cor-primary-dark: #4A0072;
    --cor-primary-light: #C7A4FF;
	--cor-fundo-pagina: #f5f5f5;
	--cor-borda-campo-formulario: #707070;
	--cor-fundo-campo-formulario: #ffffff;
	--cor-letra-campo-formulario: #000000;
	--cor-letra-texto: #000000;
	--cor-letra-botao: #ffffff;
	--cor-letra-cabecalho-pais: #ffffff;
	--cor-borda-aba-pais: #ffffff;
	--cor-fundo-fosco: rgba(0, 0, 0, .8);
	--cor-fundo-bloco-desativado: #aeaeae;
	--cor-fundo-bloco-checked: #81c784;
}

/* Corpo */

body{
    background-color: var(--cor-fundo-pagina);
}


/* Cabeçalho */

.cabecalho{
	background-color: var(--cor-primary-dark);
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	padding: 2.8%;
	box-shadow: 0 0 4px 0;
}

.cabecalho_login{
	background-color: var(--cor-fundo-pagina);
	box-shadow: 0 0 0 0;
}

.botao_cabecalho{
	display: flex;
	cursor: pointer;
	width: 34px;
	height: 34px;
}

.foto_perfil_cabecalho{
	border-radius: 100%;
	object-fit: cover;
}

.titulo{
	display: flex;
	cursor: pointer;
	height: 34px;
}

.titulo_cabecalho{
	margin: 0 auto 0 auto;
}

.titulo_cadastro{
	padding-right: 34px;
}

/* Títulos */

.titulo_principal{
	color: var(--cor-primary-dark);
	text-align: center;
	font-weight: bold;
	width: 100%;
	margin-top: 4%;
	padding: 0 2.8% 0 2.8%;
	font-size: 28px;
}

.titulo_secundario{
	color: var(--cor-letra-texto);
	text-align: center;
	width: 100%;
	margin-bottom: 2.8%;
	padding: 0 2.8% 0 2.8%;
	font-size: 19px;
}

.titulo_secundario_roxo{
	color: var(--cor-primary-dark);
}

/* Texto */

.texto{
	color: var(--cor-letra-texto);
	font-size: 16px;
}

/* Carrossel */

.active div{
	background-color: var(--cor-primary-dark);
}

.carousel-indicators{
	z-index: 0;
}

.carousel-indicators li{
	width: 34px;
	margin: 0 2.8% 0 2.8%;
}

.carrossel{
	width: 100%;
	margin: 10% 0 10% 0;
}

.imagem_carrossel{
	display: flex;
	width: 180px;
	height: 180px;
	margin: 0 auto 0 auto;
}

.texto_carrossel{
	color: var(--cor-primary-dark);
	text-align: center;
	font-weight: bold;
	margin: 5% 0 15% 0;
	padding: 0 10% 0 10%;
	font-size: 22px;
}

.ponto_carrossel{
	border: 4px solid;
	border-color: var(--cor-primary-dark);
	cursor: pointer;
	width: 34px;
	height: 34px;
	border-radius: 100%;
}

/* Campos formulário */

.campo_foto_formulario{
	display: flex;
	width: 180px;
	height: 180px;
	margin: 4% auto 4% auto;
}

.campo_invisivel_formulario{
	position: absolute;
	opacity: 0;
}

.campo_foto_perfil{
	width: 180px;
	height: 180px;
}

.foto_perfil{
	width: 180px;
	height: 180px;
}

.foto_perfil_preview{
	border-radius: 100%;
	object-fit: cover;
}

.campo_formulario{
	border: 1px solid;
	border-color: var(--cor-borda-campo-formulario);
	background-color: var(--cor-fundo-campo-formulario);
	color: var(--cor-letra-campo-formulario);
	width: 94.4%;
	margin: 0 2.8% 2.8% 2.8%;
	padding: 2.8%;
	border-radius: 10px;
	font-size: 18px;
}

.campo_formulario_invisivel{
	display: none;
}

.formulario_busca{
	display: flex;
	align-items: center;
}

.formulario_tela_busca{
	margin: 4% 2.8% 4% 2.8%;
}

.campo_formulario_busca{
	border: none;
	width: 88%;
	margin: 0 auto 0 0;
	padding: 0;
	border-radius: 0;
}

.botao_buscar{
	margin-left: auto;
	width: 25px;
	height: 25px;
}

.texto_login{
	text-align: center;
	margin-top: 2.8%;
}

.mensagem_busca{
	text-align: center;
}

.botao{
	background-color: var(--cor-primary-dark);
	color: var(--cor-letra-botao);
	display: flex;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	justify-content: center;
	width: 50%;
	margin: 2.8% auto 0 auto;
	padding: 2.8%;
	border-radius: 10px;
	font-size: 18px;
}

/* Checkbox */

.campo_checkbox{
	width: 25px;
	height: 25px;
}

.campo_checkbox_atualizacoes{
	width: 100%;
	padding: 2.8%;
}

/* Customize the label */
.checkbox{
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_atualizacoes{
	padding: 3px 0 3px 10%;
}

/* Hide the browser's default checkbox */
.checkbox input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark{
	border: 2px solid;
	border-color: var(--cor-primary-dark);
	background-color: var(--cor-fundo-pagina);
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}

.checkmark_atualizacoes{
	border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark{
	background-color: var(--cor-primary-dark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
	left: 6px;
	top: 2px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 5px;
	height: 10px;
}

/* Login */

.logo_titulo{
	display: flex;
	width: 180px;
	margin: 4% auto 4% auto;
}

/* Bloco detalhe */

.bloco_detalhe{
	margin: 0 auto 0 auto;
}

.fundo_bloco_detalhe{
	background-color: var(--cor-fundo-fosco);
	display: flex;
	position: absolute;
	align-items: center;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fundo_bloco_detalhe_invisivel{
	display: none;
}

.texto_detalhe{
	text-align: center;
	font-size: 18px;
}

/* Pais */

.cabecalho_fixo{
	position: fixed;
	top: 0;
	width: 100%;
}

.cabecalho_pais{
	background-color: var(--cor-primary);
	width: 100%;
	box-shadow: 0 0 4px 0;
}

.nome_pais_cabecalho_pais{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4%;
}

.nome_pais{
	color: var(--cor-letra-cabecalho-pais);
	font-weight: bold;
	text-align: center;
	font-size: 28px;
}

.abas_pais{
	display: flex;
	width: 100%;
}

.aba_pais{
	border-bottom: 3px solid;
	border-color: var(--cor-primary);
	background-color: var(--cor-primary);
	color: var(--cor-letra-cabecalho-pais);
	text-align: center;
	cursor: pointer;
	width: 50%;
	padding: 2.8%;
	font-size: 18px;
}

.aba_atual_pais{
	border-color: var(--cor-borda-aba-pais);
}

.secao_pais{
	display: block;
	width: 100%;
	margin-top: 49%;
}

.secao_pais_cabecalho_maior{
	margin-top: 59%;
}

.secao_expansivel{
	margin-top: 2.8%;
}

.bloco_informacao{
	background-color: var(--cor-primary-light);
	width: 94.4%;
	margin: 0 auto 2.8% auto;
	padding: 2.8%;
	border-radius: 10px;
}

.bloco_informacao_invisivel{
	display: none;
}

.titulo_bloco_informacao{
	color: var(--cor-primary-dark);
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 2.8%;
}

.texto_bloco_informacao{
	width: 100%;
	text-align: justify;
}

.texto_destaque{
	color: var(--cor-primary-dark);
	font-weight: bold;
}

.bloco_informacao_checkbox{
	display: flex;
	align-items: center;
}

.bandeira_pais{
	width: 45px;
	margin-right: 2.8%;
}

.bloco_informacao_expansivel{
	cursor: pointer;
}

.cabecalho_bloco_informacao_expansivel{
	display: flex;
	align-items: center;
}

.titulo_bloco_informacao_expansivel{
	height: 18px;
	margin: 0 auto 0 0;
}

.dados_expandidos{
	border-bottom: 2px solid;
	border-color: var(--cor-primary-dark);
	padding: 2.8% 0 2.8% 0;
}

.botao_voltar_topo{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 2.8% 2.8% 0;
}

/* Perfil */

.dados_usuario{
	margin-bottom: 4%;
}

/* Checklist */

.formulario_checklist{
	width: 34px;
	height: 34px;
	margin-right: 2.8%;
}

.formulario_toggle{
	height: 34px;
	margin: 0 2.8% 0 2.8%;
}

.botao_toggle{
	display: flex;
	cursor: pointer;
	height: 34px;
}

.texto_bloco_detalhe_checklist{
	margin-top: 2.8%;
}

.bloco_informacao_checked{
	background-color: var(--cor-fundo-bloco-checked);
}

.bloco_informacao_desativado{
	background-color: var(--cor-fundo-bloco-desativado);
}

.botao_desativado{
	cursor: auto;
}

/* Favoritos */

.secao_tela_favoritos{
	margin-top: 4%;
}

.formulario_favorito{
	margin: 0 0 0 2.8%;
}



/* 480 x 800 */
/* 768 x 1024 */
/* 960 x 1280 */
/* 1280 */

/* MOBILE FIRST */

/* SMALL DEVICES - SMARTPHONES */
/* 480 x 800 */
@media screen and (min-width: 480px) {
	/* Cabeçalho */

	.cabecalho{
		padding: 3.2%;
	}

	.botao_cabecalho{
		width: 44px;
		height: 44px;
	}

	.titulo{
		height: 44px;
	}

	.titulo_cadastro{
		padding-right: 44px;
	}

	/* Títulos */

	.titulo_principal{
		padding: 0 3.2% 0 3.2%;
		font-size: 36px;
	}

	.titulo_secundario{
		margin-bottom: 3.2%;
		padding: 0 3.2% 0 3.2%;
		font-size: 26px;
	}

	/* Texto */

	.texto{
		font-size: 23px;
	}

	/* Carrossel */

	.carrossel{
		margin: 9% 0 9% 0;
	}

	.imagem_carrossel{
		width: 220px;
		height: 220px;
	}

	.texto_carrossel{
		margin: 5% 0 12% 0;
		font-size: 30px;
	}

	.carousel-indicators li{
		width: 44px;
		margin: 0 3.2% 0 3.2%;
	}

	.ponto_carrossel{
		width: 44px;
		height: 44px;
	}

	/* Campos formulário */

	.campo_foto_formulario{
		width: 220px;
		height: 220px;
	}

	.campo_foto_perfil{
		width: 220px;
		height: 220px;
	}

	.foto_perfil{
		width: 220px;
		height: 220px;
	}

	.campo_formulario{
		width: 93.6%;
		margin: 0 3.2% 3.2% 3.2%;
		padding: 3.2%;
		font-size: 25px;
	}

	.campo_formulario_busca{
		border: none;
		width: 88%;
		margin: 0 auto 0 0;
		padding: 0;
		border-radius: 0;
	}

	.formulario_tela_busca{
		margin: 4% 3.2% 4% 3.2%;
	}

	.botao_buscar{
		width: 44px;
		height: 44px;
	}

	.texto_login{
		margin-top: 3.2%;
	}

	.botao{
		margin: 3.2% auto 0 auto;
		padding: 3.2%;
		font-size: 25px;
	}

	/* Checkbox */

	.campo_checkbox{
		width: 35px;
		height: 35px;
	}

	.campo_checkbox_atualizacoes{
		padding: 3.2%;
	}

	.checkbox .checkmark:after {
		left: 8px;
		width: 12px;
		height: 17px;
	}

	/* Login */

	.logo_titulo{
		width: 220px;
	}

	/* Bloco detalhe */

	.texto_detalhe{
		font-size: 25px;
	}

	/* País */

	.nome_pais{
		font-size: 36px;
	}
		
	.aba_pais{
		border-bottom: 5px solid;
		border-color: var(--cor-primary);
		padding: 3.2%;
		font-size: 25px;
	}

	.aba_atual_pais{
		border-color: var(--cor-borda-aba-pais);
	}
	
	.secao_expansivel{
		margin-top: 3.2%;
	}
	
	.bloco_informacao{
		width: 93.6%;
		margin: 0 auto 3.2% auto;
		padding: 3.2%;
	}
	
	.titulo_bloco_informacao{
		font-size: 25px;
		margin-bottom: 3.2%;
	}

	.titulo_bloco_informacao_expansivel{
		height: 25px;
		margin: 0 auto 0 0;
	}
				
	.bandeira_pais{
		width: 55px;
		margin-right: 3.2%;
	}
		
	.dados_expandidos{
		padding: 3.2% 0 3.2% 0;
	}
	
	.botao_voltar_topo{
		margin: 0 3.2% 3.2% 0;
	}

	/* Checklist */

	.formulario_checklist{
		width: 44px;
		height: 44px;
		margin-right: 3.2%;
	}

	.formulario_toggle{
		height: 44px;
		margin: 0 3.2% 0 3.2%;
	}

	.botao_toggle{
		height: 44px;
	}

	.texto_bloco_detalhe_checklist{
		margin-top: 3.2%;
	}

	/* Favoritos */

	.formulario_favorito{
		margin: 0 0 0 3.2%;
	}
}

/* SMALL DEVICES - TABLETS */
/* 768 x 1024 */
@media screen and (min-width: 768px) {
	/* Cabeçalho */

	.cabecalho{
		padding: 3%;
		box-shadow: 0 0 8px 0;
	}
	
	.cabecalho_login{
		box-shadow: 0 0 0 0;
	}

	.botao_cabecalho{
		width: 50px;
		height: 50px;
	}

	.titulo{
		height: 50px;
	}

	.titulo_cadastro{
		padding-right: 50px;
	}

	/* Títulos */

	.titulo_principal{
		padding: 0 3% 0 3%;
		font-size: 41px;
	}

	.titulo_secundario{
		margin-bottom: 3%;
		padding: 0 3% 0 3%;
		font-size: 31px;
	}

	/* Texto */

	.texto{
		font-size: 28px;
	}

	/* Carrossel */

	.carrossel{
		margin: 10% 0 10% 0;
	}

	.imagem_carrossel{
		width: 250px;
		height: 250px;
	}

	.texto_carrossel{
		margin: 5% 0 15% 0;
		font-size: 35px;
	}

	.carousel-indicators li{
		width: 50px;
		margin: 0 3% 0 3%;
	}

	.ponto_carrossel{
		width: 50px;
		height: 50px;
	}

	/* Campos formulário */

	.campo_foto_formulario{
		width: 250px;
		height: 250px;
	}

	.campo_foto_perfil{
		width: 250px;
		height: 250px;
	}

	.foto_perfil{
		width: 250px;
		height: 250px;
	}

	.campo_formulario{
		width: 85%;
		margin: 0 7.5% 3% 7.5%;
		padding: 2.8%;
		font-size: 30px;
	}

	.campo_formulario_busca{
		border: none;
		width: 88%;
		margin: 0 auto 0 0;
		padding: 0;
		border-radius: 0;
	}

	.formulario_tela_busca{
		margin: 4% 7.5% 4% 7.5%;
	}

	.botao_buscar{
		width: 50px;
		height: 50px;
	}

	.texto_login{
		margin-top: 3%;
	}

	.botao{
		width: 40%;
		margin: 3% auto 0 auto;
		padding: 2.8%;
		font-size: 30px;
	}

	/* Checkbox */

	.campo_checkbox{
		width: 40px;
		height: 40px;
	}

	.campo_checkbox_atualizacoes{
		padding: 3% 7.5% 3% 7.5%;
	}

	.checkbox .checkmark:after {
		left: 9px;
		width: 14px;
		height: 19px;
	}

	/* Login */

	.logo_titulo{
		width: 250px;
	}

	/* Bloco detalhe */

	.texto_detalhe{
		font-size: 30px;
	}

	/* País */

	.cabecalho_pais{
		box-shadow: 0 0 8px 0;
	}

	.nome_pais_cabecalho_pais{
		padding: 3.5%;
	}

	.nome_pais{
		font-size: 41px;
	}

	.aba_pais{
		border-bottom: 7px solid;
		border-color: var(--cor-primary);
		padding: 2.8%;
		font-size: 30px;
	}

	.aba_atual_pais{
		border-color: var(--cor-borda-aba-pais);
	}

	.secao_pais{
		margin-top: 40%;
	}

	.secao_pais_cabecalho_maior{
		margin-top: 40%;
	}
	
	.secao_expansivel{
		margin-top: 3%;
	}
	
	.bloco_informacao{
		width: 85%;
		margin: 0 auto 3% auto;
		padding: 2.8%;
	}
	
	.titulo_bloco_informacao{
		font-size: 30px;
		margin-bottom: 3%;
	}

	.titulo_bloco_informacao_expansivel{
		height: 30px;
		margin: 0 auto 0 0;
	}
				
	.bandeira_pais{
		width: 60px;
		margin-right: 3%;
	}
		
	.dados_expandidos{
		padding: 2.8% 0 2.8% 0;
	}
	
	.botao_voltar_topo{
		margin: 0 7.5% 3% 0;
	}

	/* Checklist */

	.formulario_checklist{
		width: 50px;
		height: 50px;
		margin-right: 3%;
	}

	.formulario_toggle{
		height: 50px;
		margin: 0 3% 0 3%;
	}

	.botao_toggle{
		height: 50px;
	}

	.texto_bloco_detalhe_checklist{
		margin-top: 3%;
	}

	/* Favoritos */

	.formulario_favorito{
		margin: 0 0 0 3%;
	}
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
/* 960 x 1280*/
@media screen and (min-width: 960px) {
	/* Cabeçalho */

	.cabecalho{
		padding: 3.2%;
		box-shadow: 0 0 12px 0;
	}
	
	.cabecalho_login{
		box-shadow: 0 0 0 0;
	}

	.botao_cabecalho{
		width: 55px;
		height: 55px;
	}

	.titulo{
		height: 55px;
	}

	.titulo_cadastro{
		padding-right: 55px;
	}

	/* Títulos */

	.titulo_principal{
		padding: 0 3.2% 0 3.2%;
		font-size: 46px;
	}

	.titulo_secundario{
		margin-bottom: 3.2%;
		padding: 0 3.2% 0 3.2%;
		font-size: 36px;
	}

	/* Texto */

	.texto{
		font-size: 33px;
	}

	/* Carrossel */

	.carrossel{
		margin: 12% 0 12% 0;
	}

	.imagem_carrossel{
		width: 300px;
		height: 300px;
	}

	.texto_carrossel{
		margin: 5% 0 12% 0;
		font-size: 45px;
	}

	.carousel-indicators li{
		width: 55px;
		margin: 0 3.2% 0 3.2%;
	}

	.ponto_carrossel{
		width: 55px;
		height: 55px;
	}

	/* Campos formulário */

	.campo_foto_formulario{
		width: 300px;
		height: 300px;
	}

	.campo_foto_perfil{
		width: 300px;
		height: 300px;
	}

	.foto_perfil{
		width: 300px;
		height: 300px;
	}

	.campo_formulario{
		width: 80%;
		margin: 0 10% 3.2% 10%;
		padding: 3%;
	}

	.campo_formulario_busca{
		border: none;
		width: 88%;
		margin: 0 auto 0 0;
		padding: 0;
		border-radius: 0;
	}

	.formulario_tela_busca{
		margin: 4% 10% 4% 10%;
	}

	.texto_login{
		margin-top: 3.2%;
	}

	.botao{
		width: 35%;
		margin: 3.2% auto 0 auto;
		padding: 3%;
		font-size: 35px;
	}

	/* Checkbox */

	.campo_checkbox{
		width: 45px;
		height: 45px;
	}

	.campo_checkbox_atualizacoes{
		padding: 3% 10% 3% 10%;
	}

	.checkbox .checkmark:after {
		left: 10px;
		width: 16px;
		height: 21px;
	}

	/* Login */

	.logo_titulo{
		width: 300px;
	}

	/* Bloco detalhe */

	.texto_detalhe{
		font-size: 35px;
	}

	/* País */

	.cabecalho_pais{
		box-shadow: 0 0 12px 0;
	}

	.nome_pais_cabecalho_pais{
		padding: 3%;
	}

	.nome_pais{
		font-size: 46px;
	}

	.aba_pais{
		border-bottom: 9px solid;
		border-color: var(--cor-primary);
		padding: 3%;
		font-size: 35px;
	}

	.aba_atual_pais{
		border-color: var(--cor-borda-aba-pais);
	}

	.secao_pais{
		margin-top: 38%;
	}

	.secao_pais_cabecalho_maior{
		margin-top: 38%;
	}
	
	.secao_expansivel{
		margin-top: 3.2%;
	}
	
	.bloco_informacao{
		width: 80%;
		margin: 0 auto 3.2% auto;
		padding: 3%;
	}
	
	.titulo_bloco_informacao{
		font-size: 35px;
		margin-bottom: 3.2%;
	}

	.titulo_bloco_informacao_expansivel{
		height: 35px;
		margin: 0 auto 0 0;
	}
				
	.bandeira_pais{
		width: 65px;
		margin-right: 3.2%;
	}
		
	.dados_expandidos{
		padding: 3% 0 3% 0;
	}
	
	.botao_voltar_topo{
		margin: 0 10% 3.2% 0;
	}

	/* Checklist */

	.formulario_checklist{
		width: 55px;
		height: 55px;
		margin-right: 3.2%;
	}

	.formulario_toggle{
		height: 55px;
		margin: 0 3.2% 0 3.2%;
	}

	.botao_toggle{
		height: 55px;
	}

	.texto_bloco_detalhe_checklist{
		margin-top: 3.2%;
	}

	/* Favoritos */

	.formulario_favorito{
		margin: 0 0 0 3.2%;
	}
}

/* LARGE DEVICES - WIDE SCREENS */
/* 1280 */
@media screen and (min-width: 1280px) {

}