/* Configurações iniciais */

*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/* Criação das variáveis */

:root{
    --cor-primary: #7B1FA2;
    --cor-primary-dark: #4A0072;
    --cor-primary-light: #C7A4FF;
	--cor-fundo-pagina: #f5f5f5;
	--cor-borda-campo-formulario: #707070;
	--cor-fundo-campo-formulario: white;
	--cor-letra-campo-formulario: black;
	--cor-letra-texto: black;
	--cor-letra-botao: white;
}

/* Corpo */

body{
    background-color: var(--cor-fundo-pagina);
}


/* Cabeçalho */

.cabecalho{
	background-color: var(--cor-primary-dark);
	display: flex;
	width: 100%;
	box-shadow: 0 0 4px 0;
    padding: 2.8%;
}

.cabecalho_login{
	background-color: var(--cor-fundo-pagina);
	display: flex;
	width: 100%;
    padding: 2.8%;
}

.botao_cabecalho{
	display: flex;
	cursor: pointer;
	width: 34px;
	height: 34px;
}

.botao_lateral_esquerda{
	margin-left: 0%;
	margin-right: auto;
}

.titulo{
	display: flex;
	cursor: pointer;
	height: 34px;
}

.botao_lateral_direita{
	margin-left: auto;
	margin-right: 0%;
}

/* Títulos */

.titulo_principal{
	color: var(--cor-primary-dark);
	text-align: center;
	font-weight: bold;
	width: 100%;
	margin-top: 4%;
	font-size: 28px;
}

.titulo_busca{
	color: var(--cor-primary-dark);
	text-align: center;
	width: 100%;
	margin-bottom: 2.8%;
	font-size: 20px;
}

/* Carrossel */

.carrossel{
	width: 100%;
	padding: 2.8%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.imagem_carrossel{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	height: 180px;
}

.texto_carrossel{
	color: var(--cor-primary-dark);
	text-align: center;
	font-weight: bold;
	padding: 0 10% 0 10%;
	margin-top: 5%;
	font-size: 22px;
}

.wall{
    display: none;
    width: 100%;
    height: 100%;
}

.wall:target{
    display: block;
}

.pontos_carrossel{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 30px;
	margin-top: 5%;
}

.ponto_carrossel_atual{
	background-color: var(--cor-primary-dark);
	border-radius: 100%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ponto_carrossel{
	border: 4px solid;
	border-color: var(--cor-primary-dark);
	border-radius: 100%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* Campos formulário */

.formulario_busca{
	display: flex;
	border: 1px solid;
	border-color: var(--cor-borda-campo-formulario);
	background-color: var(--cor-fundo-campo-formulario);
	border-radius: 10px;
	width: 94.4%;
	margin: 0 2.8% 2.8% 2.8%;
	padding: 2.8%;
}

.campo_formulario_busca{
	border: none;
	background-color: var(--cor-fundo-campo-formulario);
	color: var(--cor-letra-campo-formulario);
	width: 88%;
	margin-right: auto;
	font-size: 18px;
}

.botao_buscar{
	margin-left: auto;
	width: 25px;
	height: 25px;
}

.campo_formulario{
	border: 1px solid;
	border-color: var(--cor-borda-campo-formulario);
	background-color: var(--cor-fundo-campo-formulario);
	color: var(--cor-letra-campo-formulario);
	width: 94.4%;
	margin: 0 2.8% 2.8% 2.8%;
	padding: 2.8%;
	border-radius: 10px;
	font-size: 18px;
}

.texto_conta{
	color: var(--cor-letra-texto);
	text-align: center;
	margin-top: 2.8%;
	font-size: 16px;
}

.texto_atualizacoes{

}

.botao{
	background-color: var(--cor-primary-dark);
	color: var(--cor-letra-botao);
	display: flex;
	font-weight: bold;
	text-transform: uppercase;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 2.8%;
	padding: 2.8%;
	border-radius: 10px;
	font-size: 18px;
}

/* Cadastro */

.logo_titulo{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	margin-top: 4%;
	margin-bottom: 4%;
}