<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>InfoTrips</title>
      <meta name="description" content="Site informativo para viagens internacionais">
      <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
      <meta name="robots" content="index, follow">
      <meta name="author" content="Eduardo Gimenes">
      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
      <link rel="icon" href="img/roxo/logo_roxa.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
      <header class="cabecalho">
        <a href="/favoritos"><img src="img/branco/icone_lista_favoritos_branco.svg" alt="Botão favoritos" class="botao_cabecalho"></a>
        <a href="/" class="titulo_cabecalho"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
        <% if (foto_usuario.length > 0) { %>
          <a href="/perfil"><img src="uploads/<%= foto_usuario[0].nome_foto %>" alt="Botão perfil" class="botao_cabecalho foto_perfil_cabecalho"></a>
        <% } else { %>
          <a href="/perfil"><img src="img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
        <% } %>
      </header>

      <% if (mensagem.length > 0) { %>
        <div class="fundo_bloco_detalhe">
            <div class="bloco_informacao bloco_detalhe">
                <p class="texto texto_detalhe"><%= mensagem %></p>
                <% if (mensagem === 'Faça o login para acessar sua lista de países favoritos') { %>
                  <a href="/login" class="botao">Login</a>
                <% } %>
                <a href="/" class="botao">Fechar</a>
            </div>
        </div>
      <% } %>

      <h1 class="titulo_principal">Informe-se antes de viajar</h1>

      <div id="carrossel">

        <div id="item1_carrossel" class="item_carrossel item_carrossel_atual">
          <img src="img/roxo/icone_aviao_roxo.svg" alt="Ícone avião" class="imagem_carrossel">
          <p class="texto_carrossel">Acesse informações básicas sobre o país que deseja visitar</p>
        </div>
     
        <div id="item2_carrossel" class="item_carrossel">
          <img src="img/roxo/icone_passaporte_roxo.svg" alt="Ícone passaporte" class="imagem_carrossel">
          <p class="texto_carrossel">Saiba quais documentos são exigidos por seu país de destino</p>
        </div>
      
        <div id="item3_carrossel" class="item_carrossel">
          <img src="img/roxo/icone_checklist_roxo.svg" alt="Ícone checklist" class="imagem_carrossel">
          <p class="texto_carrossel">Crie checklists para não esquecer de nenhum documento ou exigência</p>
        </div>
      
        <div id="item4_carrossel" class="item_carrossel">
          <img src="img/roxo/icone_torre_eiffel_roxo.svg" alt="Ícone Torre Eiffel" class="imagem_carrossel">
          <p class="texto_carrossel">Consulte sugestões de sites com guias turísticos e atrações locais</p>
        </div>
       
        <div class="pontos_carrossel">
          <div id="ponto_item1_carrossel" class="ponto_carrossel ponto_carrossel_atual" onclick="mudar_item(0)"></div>
          <div id="ponto_item2_carrossel" class="ponto_carrossel" onclick="mudar_item(1)"></div>
          <div id="ponto_item3_carrossel" class="ponto_carrossel" onclick="mudar_item(2)"></div>
          <div id="ponto_item4_carrossel" class="ponto_carrossel" onclick="mudar_item(3)"></div>
        </div>

      </div>

      <h2 class="titulo_secundario titulo_secundario_roxo">Saiba do que precisa anter de ir para...</h2>
      <form class="campo_formulario formulario_busca" action="/busca" method="POST">
        <input type="search" name="pais_busca" class="campo_formulario campo_formulario_busca" placeholder="Pesquise um país" maxlength="70" required>
        <input type="image" src="img/roxo/icone_lupa_roxo.svg" class="botao_buscar">
      </form>
    </body>

    <script type="text/javascript" src="js/main.js"></script>

    <script>
      setInterval(mudar_item_automaticamente, 10000);
    </script>
</html>