<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
	</head>
	<body>
		<h1>InfoTrips</h1>
	</body>
</html>

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InfoTrips</title>
        <meta name="description" content="Site informativo para viagens internacionais">
        <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Eduardo Gimenes">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>
    <body>
        <header class="cabecalho">
            
        </header>
        <main>
            
        </main>
        
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>