<!DOCTYPE html>
  <html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InfoTrips</title>
        <meta name="description" content="Site informativo para viagens internacionais">
        <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Eduardo Gimenes">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>
    <body>
      <header class="cabecalho">
        <!-- <a href="index.ejs"><img src="img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a> -->
        <a href="favoritos.ejs"><img src="img/branco/icone_lista_favoritos_branco.svg" alt="Botão favoritos" class="botao_cabecalho"></a>
        <a href="index.ejs"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
        <a href="perfil.ejs"><img src="img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
      </header>

      <h1 class="titulo_principal">Informe-se antes de viajar</h1>

      <form method="POST">
        <h2 class="titulo_busca">Saiba do que precisa anter de ir para...</h2>
        <input type="text" id="pais_busca" name="pais_busca" class="campo_formulario" placeholder="Pesquise um país" required>
      </form>

    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>