<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pais - InfoTrips</title>
      <meta name="description" content="Site informativo para viagens internacionais">
      <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
      <meta name="robots" content="pais, follow">
      <meta name="author" content="Eduardo Gimenes">
      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
      <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>

    <body>
      <header class="cabecalho">
        <a href="javascript:window.history.go(-1)"><img src="img/branco/icone_voltar_branco.svg" alt="Botão voltar" class="botao_cabecalho"></a>
        <a href="/" class="titulo_cabecalho"><img src="img/branco/titulo_branco.svg" alt="Título InfoTrips" class="titulo"></a>
        <a href="/login"><img src="img/branco/icone_perfil_branco.svg" alt="Botão perfil" class="botao_cabecalho"></a>
      </header>

      <div class="cabecalho_pais">
		    <h2 class="nome_pais"><%=pais[0].nome_pais %></h2>

		    <div class="abas_pais">
			    <button id="aba_informacoes" class="aba_pais aba_atual_pais" onclick="mudar_aba('aba_checklist', 'aba_informacoes', 'secao_checklist', 'secao_informacoes')">Informações</button>
		  	  <button id="aba_checklist" class="aba_pais" onclick="mudar_aba('aba_informacoes', 'aba_checklist', 'secao_informacoes', 'secao_checklist')">Checklist</button>
		    </div>
	    </div>

	    <section id="secao_informacoes" class="secao_pais">
        <div class="bloco_informacao">
          <h3 class="titulo_bloco_informacao">Informações Turísticas</h3>
          <p class="texto texto_bloco_informacao"><%=pais[0].informacoes_turisticas_pais %></p>
        </div>

        <% for (var i=0; i<exigencias.length; i++) { %>
          <div class="bloco_informacao">
            <h3 class="titulo_bloco_informacao"><%=exigencias[i].nome_exigencia %></h3>
            <p class="texto texto_bloco_informacao"><%=exigencias[i].descricao_exigencia %></p>
          </div>
        <% } %>
	    </section>

	    <section id="secao_checklist" class="secao_pais secao_invisivel_pais">
		    <p>jesus</p>
	    </section>

    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>