<!DOCTYPE html>
    <html lang="pt-br">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login - InfoTrips</title>
        <meta name="description" content="Site informativo para viagens internacionais">
        <meta name="keywords" content="Viagens Internacionais, Turismo, Burocracia">
        <meta name="robots" content="login, follow">
        <meta name="author" content="Eduardo Gimenes">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        <link rel="icon" href="img/roxo/logo_roxa.png">
    </head>

    <body>
        <header class="cabecalho cabecalho_login">
            <a href="javascript:window.history.go(-1)"><img src="img/roxo/icone_voltar_roxo.svg" alt="Botão voltar" class="botao_cabecalho"></a>
        </header>

        <img src="img/roxo/logo_com_titulo_roxa.svg" alt="Logo InfoTrips com título" class="logo_titulo">

        <form method="POST">
            <input type="email" name="email_usuario" class="campo_formulario" placeholder="E-mail" maxlength="70" required>
            <input type="password" name="senha_usuario" class="campo_formulario" placeholder="Senha" maxlength="20" required>
            <input type="submit" value="Entrar" class="botao">
        </form>
        <p class="texto texto_login">não possui uma conta?</p>
        <a href="/cadastro" class="botao">Cadastre-se</a>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>