<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>País</title>
	</head>
	<body>
		<h1>País</h1>
		<table>
			<tr>
				<td>Nome do País</td>
				<td>Informações Turísticas do País</td>
			</tr>

			<tr>
				<td><%=pais[1].nome_pais %></td>
				<td><%=pais[1].informacoes_turisticas_pais %></td>
			</tr>
			
		</table>
	</body>
</html>