<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Países</title>
	</head>
	<body>
		<h1>Países</h1>
		<table>
			<tr>
				<td>Nome dos Países</td>
			</tr>
			<% for (var i=0; i<pais.length; i++) { %>
			<tr>
				<td><%=pais[i].nome_pais %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>